/* billing.css */

body {
    background-color: var(--grey-50);
}

#billing-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.saree-info-form {
    margin-bottom: 20px;
}

.saree-list-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#saree-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.saree-card {
    background-color: var(--grey-100);
    padding: 15px;
    border: 1px solid var(--grey-300);
    border-radius: 8px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.saree-card p {
    margin: 0 0 10px;
}

.remove-button {
    background-color: var(--error-500);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: var(--error-700);
}

/* Additional styling for the payment summary and address sections */
.address-info {
    margin-top: 20px;
}

#billing-summary {
    margin-top: 20px;
    border-top: 1px solid var(--grey-300);
    padding-top: 10px;
}
